html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
  -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

#page
{
	padding-bottom: 100px;
}
.content
{
	text-align: center;
	padding: 50px 50px 50px 50px;
}

#section-article{
  margin-bottom: 30px;
}


.title-head{
  font-size: 30px;
  margin-bottom: 30px;
  color:rgb(75, 181, 239);
}

.mm-listitem__text{
  color:#008fa9!important;
}

.mm-listitem__text:hover{
  color:rgb(75, 181, 239)!important;
}


#titre {
  width:150px;
  left: 8px;
  margin-bottom: 10px;
  position: relative;
}

#titre, #details {
  width:150px;
}

.geolocArt{
  float:left;
}

#imgArticle{
  border : 4px solid cyan;
  border-radius: 5% 5% 5% 5%;
  
}

#divImgArt{
  margin-top: 25%;
}


.ui-body-a {
  border-radius: 0% 0% 2% 2% !important;
}

.ui-bar-a {
  border-radius: 2% 2% 0% 0% !important;
}





